<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796409679862-t2lpmcmkq76h2f4a0h8qfhofgtrihggd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796409679862-t2lpmcmkq76h2f4a0h8qfhofgtrihggd</string>
	<key>API_KEY</key>
	<string>AIzaSyDxzgo8yxbXoEyOcU_KI03LCzEtuCKVeqs</string>
	<key>GCM_SENDER_ID</key>
	<string>796409679862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-d6c82</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-d6c82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796409679862:ios:77cc380f201814520a41d7</string>
</dict>
</plist>